@charset "UTF-8";

@import url(https://fonts.googleapis.com/css?family=Open+Sans:regular,italic,700,700italic);

@import url(https://fonts.googleapis.com/css?family=Playfair+Display:regular,500,600,italic,700italic);

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

html,
body {
  height: 100%;
}

body {
  line-height: 1;
  font-family: "Open Sans";
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: "Open Sans";
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  font-size: 14px;
  font-weight: 400;
}

.header {
  min-height: 110px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.header__logo {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  z-index: 4;
}

.header__menu {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.header__list li {
  margin-bottom: 5px;
  margin-right: 40px;
}

.header__list li:last-child {
  margin-right: 0;
}

.header__link {
  color: #111111;
  letter-spacing: 0.56px;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 400;
  position: relative;
}

.header__link:hover::after {
  content: "";
  position: relative;
  display: block;
  top: 10px;
  height: 35%;
  background-color: #e8bf5d;
}

.header__burger {
  z-index: 3;
}

.header__burger:hover {
  font-size: 30px;
}

.footer {
  padding: 30px 0px;
  background-color: #111111;
}

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__text {
  color: #b5b5b5;
  font-size: 16px;
}

.title {
  font-family: "Playfair Display";
  font-size: 31px;
  color: #111111;
  font-weight: 500;
  font-weight: 700;
  line-height: 44.84px;
  letter-spacing: 1.24px;
  margin-bottom: 10px;
}

.subtitle {
  font-family: "Playfair Display";
  color: #666666;
  font-size: 21px;
  font-weight: 500;
  line-height: 30.89px;
  letter-spacing: 0.84px;
}

.review {
  position: relative;
  margin-bottom: 100px;
}

.review::before {
  content: "";
  position: absolute;
  left: -20px;
  bottom: 0;
  width: 0.2%;
  height: 96%;
  background-color: #e8bf5d;
}

._ibg {
  position: relative;
}

._ibg img {
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.btn {
  background-color: #e8bf5d;
  height: 50px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0px 35px;
  border-radius: 25px;
  color: #111111;
  font-size: 16px;
  font-weight: 600;
  font-family: "Playfair Display";
}

.btn:active {
  -webkit-transform: scale(0.9);
      -ms-transform: scale(0.9);
          transform: scale(0.9);
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.page {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

._container {
  max-width: 1170px;
  margin: 0px auto;
}

.hero {
  position: relative;
  padding: 655px 0 70px 0;
}

.hero__background {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 1;
}

.hero__container {
  position: relative;
  z-index: 2;
  height: 100%;
}

.hero__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #5959593b;
  padding: 20px 0px;
}

.hero__review {
  color: #ffffff;
}

.hero__name {
  font-family: "Playfair Display";
  letter-spacing: 2.6px;
  font-size: 65px;
}

.hero__proff {
  font-size: 31px;
  letter-spacing: 1.24px;
  font-weight: 300;
}

.hero__button {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}

.about {
  padding: 101px 10px 96px 10px;
  color: #111111;
}

._no-webp .about__review{
  background: url(../img/numbers/number-1.png) 0 0/contain no-repeat; }

.about__columns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.columns-about__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}

.columns-about__line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 42px;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.columns-about__date {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 66px;
          flex: 0 0 66px;
  font-size: 21px;
  font-weight: 700;
  line-height: 31px;
  margin-right: 48px;
  letter-spacing: 0.84px;
}

.columns-about__name {
  font-size: 21px;
  font-family: "Playfair Display";
  line-height: 31px;
  letter-spacing: 0.84px;
  font-weight: 500;
  margin-bottom: 35px;
}

.columns-about__text {
  line-height: 21px;
  letter-spacing: 0.64px;
  font-size: 16px;
  font-weight: 400;
}

.columns-about__text_expertise {
  color: #666666;
  line-height: 31px;
  letter-spacing: 0.56px;
  padding-right: 23px;
}

.practis {
  background-color: #111111;
  padding: 101px 10px 26px 10px;
  color: #ffffff;
}

.practis_title {
  color: #ffffff;
}

._no-webp .practis__review{
  background: url(../img/numbers/number-2.png) 0% 0%/contain no-repeat; }

.practis__subtitle {
  color: #b9b9b9;
}

.practis__columns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.practis__image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 30px;
}

.practis__image img {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 10px;
          flex: 0 1 10px;
}

.columns-practis__column {
  padding: 0px 20px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
}

.columns-practis__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 72px;
}

.columns-practis__name {
  font-family: "Playfair Display";
  font-size: 21px;
  font-weight: 500;
  margin-bottom: 25px;
  line-height: 31px;
  letter-spacing: 0.84px;
}

.columns-practis__text {
  line-height: 25px;
  line-height: 178.57143%;
  letter-spacing: 0.56px;
}

.meet {
  padding: 101px 10px 66px 10px;
}

._no-webp .meet__review{
  background: url(../img/numbers/number-3.png) 0 0/contain no-repeat; }

.meet__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.items-meet__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 25%;
          flex: 0 1 25%;
  padding: 15px 15px;
}

.items-meet__item:hover {
  -webkit-box-shadow: 0 12px 40px rgba(175, 151, 88, 0.4);
          box-shadow: 0 12px 40px rgba(175, 151, 88, 0.4);
}

.items-meet__image {
  padding: 0px 0px 111% 0px;
  margin-bottom: 20px;
}

.items-meet__name {
  font-family: "Playfair Display";
  font-size: 21px;
  font-weight: 500;
  letter-spacing: 0.84px;
  margin-bottom: 5px;
}

.items-meet__proff {
  color: #666666;
  letter-spacing: 0.56px;
  font-size: 16px;
}

.clients {
  padding: 101px 10px 140px 10px;
  background-color: #111111;
  color: #ffffff;
}

.clients_title {
  color: #ffffff;
}

._no-webp .clients__review{
  background: url(../img/numbers/number-4.png) 0 0/contain no-repeat; }

.clients__subtitle {
  color: #b9b9b9;
}

.clients .columns-clients {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.clients .columns-clients__column_left {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 30%;
          flex: 0 1 30%;
}

.clients .columns-clients__column_right {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 70%;
          flex: 0 1 70%;
}

.clients__image {
  width: 370px;
  height: 306px;
  margin-right: 80px;
  background-color: #e8bf5d;
  position: relative;
}

.clients__image img {
  position: relative;
  right: 20px;
  bottom: 20px;
}

.clients__comment {
  line-height: 31px;
  letter-spacing: 0.56px;
  position: relative;
  margin-bottom: 40px;
}

.clients__comment::before {
  content: "“";
  opacity: 0.25;
  color: #ffffff;
  font-family: "Playfair Display";
  font-size: 96px;
  font-weight: 400;
  position: absolute;
  left: -50px;
  top: 15px;
}

.clients__name {
  font-size: 21px;
  font-family: "Playfair Display";
  letter-spacing: 0.84px;
  line-height: 31px;
}

.clients__proff {
  letter-spacing: 0.56px;
  line-height: 24px;
}

.clients .ellipse-clients {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  position: absolute;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  bottom: -8%;
  left: 50%;
}

.clients .ellipse-clients__slide {
  width: 10px;
  height: 10px;
  margin-right: 5px;
  border-radius: 50%;
  border: 1px solid #ffffff;
}

.clients .ellipse-clients__slide_active {
  width: 15px;
  height: 15px;
  background-color: #ffffff;
}

.recent {
  padding: 100px 10px;
}

._no-webp .recent__review{
  background: url(../img/numbers/number-5.png) 0 0/contain no-repeat; }

.recent__columns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.columns-recent__column {
  padding: 0px 15px;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.33333%;
          flex: 0 1 33.33333%;
}

.columns-recent__column:last-child {
  margin-bottom: 0;
}

.columns-recent__column:hover::after {
  content: "";
  position: relative;
  top: 29px;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 0.5%;
  background-color: #e8bf5d;
}

.columns-recent__image {
  margin-bottom: 20px;
  padding: 0px 0px 84% 0px;
}

.columns-recent__description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-bottom: 28px;
}

.columns-recent__name {
  font-family: "Playfair Display";
  font-size: 21px;
  font-weight: 500;
  letter-spacing: 0.84px;
  line-height: 31px;
  color: #111111;
}

.columns-recent__by {
  font-size: 16px;
  color: #111111;
}

.columns-recent__by span {
  color: #666666;
  font-style: italic;
  letter-spacing: 0.64px;
  line-height: 24px;
}

.columns-recent__date {
  color: #666666;
  font-style: italic;
  letter-spacing: 0.64px;
  line-height: 24px;
}

.columns-recent__text {
  color: #666666;
  line-height: 31px;
  letter-spacing: 0.56px;
  margin-bottom: 30px;
}

.columns-recent__comments {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.questions {
  padding: 101px 10px 160px 10px;
  background-color: #111111;
  color: #ffffff;
}

.questions_title {
  color: #ffffff;
}

.questions__subtitle {
  color: #b9b9b9;
}

._no-webp .questions__review{
  background: url(../img/numbers/number-6.png) 0 0/contain no-repeat; }

.questions__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.questions__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  padding: 0px 17px;
}

.questions__text {
  background-color: #e8bf5d;
  -webkit-box-shadow: 0 12px 40px rgba(216, 178, 87, 0.32);
          box-shadow: 0 12px 40px rgba(216, 178, 87, 0.32);
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #111111;
}

.questions__text p {
  font-weight: 600;
  line-height: 31px;
  letter-spacing: 0.56px;
  padding: 42px 48px 70px 46px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 406px;
          flex: 1 1 406px;
}

.form-questions__line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid #e8bf5d;
}

.form-questions__text {
  font-weight: 700;
  line-height: 31px;
  letter-spacing: 0.56px;
  padding: 10px 0px;
}

.form-questions__text_active {
  color: #e8bf5d;
}

.form-questions__icon:hover {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.contact {
  padding: 100px 10px;
}

._no-webp .contact__review{
  background: url(../img/numbers/number-7.png) 0 0/contain no-repeat; }

.contact__columns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-shadow: 0 12px 40px rgba(104, 86, 42, 0.1);
          box-shadow: 0 12px 40px rgba(104, 86, 42, 0.1);
  padding-bottom: 50px;
}

.columns-contact__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 35%;
          flex: 0 1 35%;
}

.columns-contact__column_left {
  margin-right: 20px;
}

.columns-contact__map {
  width: 363px;
  height: 363px;
  background-color: #e8bf5d;
}

.columns-contact__map img {
  position: relative;
  left: 25px;
  bottom: 25px;
}

.column-contact__line {
  margin-bottom: 35px;
}

.column-contact__line input {
  font-size: 15px;
  font-style: italic;
  line-height: 31px;
  letter-spacing: 0.56px;
  opacity: 0.6;
  width: 100%;
}

.column-contact__line::after {
  content: "";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 355px;
  height: 1px;
  background-color: #333333;
  opacity: 0.2;
}

textarea {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 15px;
  font-style: italic;
  line-height: 31px;
  letter-spacing: 0.56px;
  opacity: 0.6;
  margin-bottom: 20px;
  resize: none;
  border-bottom: 1px solid #33333352;
  width: 350px;
}

@media (max-width: 1230px) {
  ._container {
    max-width: 950px;
  }
}

@media (max-width: 1200px) {
  .header__list {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    margin-left: 40px;
  }
}

@media (max-width: 1020px) {
  .header__list li {
    margin-right: 20px;
  }

  .header__link:hover::after {
    display: none;
  }

  ._container {
    max-width: 750px;
  }

  .columns-about__column {
    padding: 0px 10px;
  }

  .clients .columns-clients {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .clients .clients__image {
    margin-bottom: 20px;
  }
}

@media (max-width: 840px) {
  .columns-contact__column_right {
    margin-right: 30px;
  }
}

@media (max-width: 810px) {
  .review {
    margin: 0px 10px 50px 10px;
  }
}

@media (max-width: 778px) {
  .header {
    min-height: 60px;
  }

  .header__list {
    display: block;
    margin-left: 0;
  }

  .header__list li {
    margin: 0px 0px 30px 0px;
  }

  .header__link {
    font-weight: 600;
  }

  .header__burger {
    display: block;
    position: relative;
    height: 18px;
    width: 30px;
    right: 10px;
  }

  .header__burger span {
    position: absolute;
    background-color: black;
    height: 10%;
    width: 100%;
    top: 50%;
    margin: -6% 0px 0px 0px;
  }

  .header__burger span:first-child {
    top: 0;
  }

  .header__burger span:last-child {
    bottom: 0;
    top: auto;
  }

  .header__body {
    display: none;
    text-align: center;
    position: fixed;
    overflow: auto;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 3;
    background-color: #ffffff;
    padding: 100px 10px 20px 10px;
  }

  .header__body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    height: 60px;
    z-index: 6;
    width: 100%;
    background-color: #ffffff;
  }

  ._container {
    max-width: none;
    padding: 0px 10px;
  }

  .hero {
    padding: 105px 0 10px 0;
  }

  .hero__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding-left: 10px;
  }

  .hero__name {
    font-size: 45px;
  }

  .hero__proff {
    font-size: 25px;
  }

  .hero__button {
    margin-top: 20px;
  }

  .about {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  ._no-webp .about__review{
    background: url(../img/numbers/number-1.png) 0 0/25% no-repeat; }

  .columns-about__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }

  .columns-about__date {
    margin-right: 20px;
    font-size: 18px;
  }

  .columns-about__name {
    margin-bottom: 25px;
  }

  .columns-about__text {
    font-size: 14px;
  }

  .columns-about__text_expertise {
    padding-right: 0;
  }

  .practis {
    padding-bottom: 40px;
    padding-top: 40px;
  }

  ._no-webp .practis__review{
    background: url(../img/numbers/number-2.png) 0 0/25% no-repeat; }

  .practis__image {
    margin-bottom: 10px;
    margin-right: 0;
  }

  .columns-practis__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }

  .columns-practis__item {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-bottom: 30px;
  }

  .columns-practis__name {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 20px;
  }

  .meet {
    padding-bottom: 40px;
    padding-top: 40px;
  }

  ._no-webp .meet__review{
    background: url(../img/numbers/number-3.png) 0 0/25% no-repeat; }

  .items-meet__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
    margin-bottom: 30px;
    padding: 10px 10px;
  }

  .items-meet__image {
    margin-bottom: 10px;
  }

  .items-meet__name {
    font-size: 16px;
    letter-spacing: 0.45px;
  }

  .items-meet__proff {
    font-size: 12px;
  }

  .clients {
    padding-bottom: 40px;
    padding-top: 40px;
  }

  ._no-webp .clients__review{
    background: url(../img/numbers/number-4.png) 0 0/25% no-repeat; }

  .clients .columns-clients__column_right {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
    overflow: hidden;
  }

  .clients .clients__image {
    display: none;
  }

  .clients__name {
    font-size: 16px;
  }

  .clients__proff {
    font-size: 12px;
  }

  .clients .ellipse-clients {
    bottom: -5%;
  }

  .recent {
    padding-bottom: 40px;
    padding-top: 40px;
  }

  ._no-webp .recent__review{
    background: url(../img/numbers/number-5.png) 0 0/25% no-repeat; }

  .columns-recent__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
    margin-bottom: 50px;
    padding: 0px 10px;
  }

  .columns-recent__image {
    margin-bottom: 10px;
  }

  .columns-recent__description {
    margin-bottom: 20px;
  }

  .columns-recent__name {
    font-size: 18px;
  }

  .columns-recent__by {
    font-size: 16px;
  }

  .columns-recent__date {
    font-size: 16px;
  }

  .columns-recent__text {
    margin-bottom: 20px;
  }

  .questions {
    padding-bottom: 50px;
    padding-top: 50px;
  }

  ._no-webp .questions__review{
    background: url(../img/numbers/number-6.png) 0 0/25% no-repeat; }

  .questions__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
    padding: 0px;
  }

  .questions__text {
    display: none;
  }

  .form-questions__icon {
    margin-left: 10px;
  }

  .contact {
    padding-bottom: 40px;
    padding-top: 40px;
  }

  ._no-webp .contact__review{
    background: url(../img/numbers/number-7.png) 0 0/25% no-repeat; }

  .contact__columns {
    padding-bottom: 0;
    -webkit-box-shadow: none;
            box-shadow: none;
  }

  .columns-contact__column_left {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
  }

  .columns-contact__column_right {
    display: none;
  }

  .column-contact__line {
    margin-bottom: 25px;
  }

  .column-contact__line input {
    text-align: center;
  }

  .column-contact__line::after {
    width: 350px;
  }

  textarea {
    text-align: center;
    height: 50px;
  }
}

@media (max-width: 768px) {
  .review::before {
    left: -10px;
    height: 96%;
    bottom: 0;
  }

  .btn {
    padding: 0px 20px;
    height: 35px;
    font-size: 14px;
  }
}

@media (max-width: 600px) {
  .columns-recent__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }
}

._webp .about__review{ background: url(../img/numbers/number-1.webp) 0 0/contain no-repeat; }

._webp .practis__review{ background: url(../img/numbers/number-2.webp) 0% 0%/contain no-repeat; }

._webp .meet__review{ background: url(../img/numbers/number-3.webp) 0 0/contain no-repeat; }

._webp .clients__review{ background: url(../img/numbers/number-4.webp) 0 0/contain no-repeat; }

._webp .recent__review{ background: url(../img/numbers/number-5.webp) 0 0/contain no-repeat; }

._webp .questions__review{ background: url(../img/numbers/number-6.webp) 0 0/contain no-repeat; }

._webp .contact__review{ background: url(../img/numbers/number-7.webp) 0 0/contain no-repeat; }

@media (max-width: 778px){

  ._webp .about__review{ background: url(../img/numbers/number-1.webp) 0 0/25% no-repeat; }
}

@media (max-width: 778px){

  ._webp .practis__review{ background: url(../img/numbers/number-2.webp) 0 0/25% no-repeat; }
}

@media (max-width: 778px){

  ._webp .meet__review{ background: url(../img/numbers/number-3.webp) 0 0/25% no-repeat; }
}

@media (max-width: 778px){

  ._webp .clients__review{ background: url(../img/numbers/number-4.webp) 0 0/25% no-repeat; }
}

@media (max-width: 778px){

  ._webp .recent__review{ background: url(../img/numbers/number-5.webp) 0 0/25% no-repeat; }
}

@media (max-width: 778px){

  ._webp .questions__review{ background: url(../img/numbers/number-6.webp) 0 0/25% no-repeat; }
}

@media (max-width: 778px){

  ._webp .contact__review{ background: url(../img/numbers/number-7.webp) 0 0/25% no-repeat; }
}